*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  --primary-color:#1095c1;

 
    --s: 50px; /* control the size */
    --c: #fff; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
   

  
}